<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/gallery.css">
    <title>Darana's Gallery</title>
</head>
<body>
    <main class="main">
        <section class="navbar">
            <p class="logo__nav">DARANA</p>
            <nav class="nav">
                <ul class="ul">
                    <li class="li__items">
                        <a href="../index.html#portfolio" class="a__items">Back</a>
                    </li>
                </ul>
            </nav>
        </section>
        <section class="gallery">
            <h2 class="h2__title title">DARANA'S GALLERY</h2>
            <div class="gallery__content">
                <img src="../assets/img/gal1.jpg" alt="Image" class="img__gallery" loading="lazy">
                <img src="../assets/img/gal2.jpg" alt="Image" class="img__gallery" loading="lazy">
                <img src="../assets/img/gal3.jpg" alt="Image" class="img__gallery" loading="lazy">
                <img src="../assets/img/gal4.jpg" alt="Image" class="img__gallery" loading="lazy">
                <img src="../assets/img/gal5.jpg" alt="Image" class="img__gallery" loading="lazy">
                <img src="../assets/img/gal6.jpg" alt="Image" class="img__gallery" loading="lazy">
                <img src="../assets/img/gal7.jpg" alt="Image" class="img__gallery" loading="lazy">
                <img src="../assets/img/gal8.jpg" alt="Image" class="img__gallery" loading="lazy">
                <img src="../assets/img/gal9.jpg" alt="Image" class="img__gallery" loading="lazy">
                <img src="../assets/img/gal10.jpg" alt="Image" class="img__gallery" loading="lazy">
                <img src="../assets/img/gal11.jpg" alt="Image" class="img__gallery" loading="lazy">
                <img src="../assets/img/gal12.jpg" alt="Image" class="img__gallery" loading="lazy">
                <img src="../assets/img/gal13.jpg" alt="Image" class="img__gallery" loading="lazy">
                <img src="../assets/img/gal14.jpg" alt="Image" class="img__gallery" loading="lazy">
                <img src="../assets/img/gal15.jpg" alt="Image" class="img__gallery" loading="lazy">
                <img src="../assets/img/gal16.jpg" alt="Image" class="img__gallery" loading="lazy">
                <img src="../assets/img/gal17.jpg" alt="Image" class="img__gallery" loading="lazy">
                <img src="../assets/img/gal18.jpg" alt="Image" class="img__gallery" loading="lazy">
                <img src="../assets/img/gal19.jpg" alt="Image" class="img__gallery" loading="lazy">
                <img src="../assets/img/gal20.jpg" alt="Image" class="img__gallery" loading="lazy">
                <img src="../assets/img/gal21.jpg" alt="Image" class="img__gallery" loading="lazy">
                <img src="../assets/img/gal22.jpg" alt="Image" class="img__gallery" loading="lazy">
                <img src="../assets/img/gal23.jpg" alt="Image" class="img__gallery" loading="lazy">
                <img src="../assets/img/gal24.jpg" alt="Image" class="img__gallery" loading="lazy">
                <img src="../assets/img/gal25.jpg" alt="Image" class="img__gallery" loading="lazy">
                <img src="../assets/img/gal26.jpg" alt="Image" class="img__gallery" loading="lazy">
                <img src="../assets/img/gal27.jpg" alt="Image" class="img__gallery" loading="lazy">
                <img src="../assets/img/gal28.jpg" alt="Image" class="img__gallery" loading="lazy">
                <img src="../assets/img/gal29.jpg" alt="Image" class="img__gallery" loading="lazy">
                <img src="../assets/img/gal30.jpg" alt="Image" class="img__gallery" loading="lazy">
                <img src="../assets/img/gal31.jpg" alt="Image" class="img__gallery" loading="lazy">
                <img src="../assets/img/gal32.jpg" alt="Image" class="img__gallery" loading="lazy">
                <img src="../assets/img/gal33.jpg" alt="Image" class="img__gallery" loading="lazy">
                <img src="../assets/img/gal34.jpg" alt="Image" class="img__gallery" loading="lazy">
                <img src="../assets/img/gal35.jpg" alt="Image" class="img__gallery" loading="lazy">
                <img src="../assets/img/gal36.jpg" alt="Image" class="img__gallery" loading="lazy">
                <img src="../assets/img/gal37.jpg" alt="Image" class="img__gallery" loading="lazy">
                <img src="../assets/img/gal38.jpg" alt="Image" class="img__gallery" loading="lazy">
                <img src="../assets/img/gal39.jpg" alt="Image" class="img__gallery" loading="lazy">
                <img src="../assets/img/gal40.jpg" alt="Image" class="img__gallery" loading="lazy">
                <img src="../assets/img/gal41.jpg" alt="Image" class="img__gallery" loading="lazy">
                <img src="../assets/img/gal42.jpg" alt="Image" class="img__gallery" loading="lazy">
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="creditos">
            <p class="p__cred textfinal">Made by <span>-Piero - ❤️</span></p>
            <p class="p__cred textfinal">Images by: <span>https://www.imustbedead.com/</span></p> 
            <p class="p__cred textfinal">Images from: <span>https://www.pexels.com/es-es/@imustbedead/</span></p> 
        </div>
    </footer>
</body>
</html>